#!/usr/bin/env bash

# Use a modified Solarized Dark 256 color theme for the color GNU ls utility
eval "$(gdircolors $HOME/.terminal-theme/.dircolors)"

# Use GNU ls with color output for `ls`
alias ls="gls --color"

# Always enable colored `grep` output
# Note: `GREP_OPTIONS="--color=auto"` is deprecated, hence the alias usage.
alias grep='grep --color=auto'
alias fgrep='fgrep --color=auto'
alias egrep='egrep --color=auto'
